@model Person
@{
    ViewData["Title"] = "UpdatePerson";
}

<h1>UpdatePerson</h1>

<form id="ConfirmEditForm" asp-route-id="@Model.Id" asp-controller="Home" asp-action="UpdatePerson" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
    <br />

    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>
    <br />

    <input id="ConfirmEditBtn" type="submit" value="Edit Person" />
</form>